[Unit]
Description=Autostart ROS2 Containers and Launch Files
After=docker.service network-online.target
Wants=docker.service network-online.target

[Service]
Type=oneshot
User=root
# 这里在安装时会被脚本替换为正确的路径
WorkingDirectory=/PLACEHOLDER/PATH
ExecStart=/PLACEHOLDER/PATH/autostart_run.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
